<div class="flex p-3" data-mdb-ripple="true" data-mdb-ripple-color="#aaaaaa" [routerLink]="['/lab/' + lab.id]">
    <img [src]="lab.album" alt="" class="h-52 rounded-sm mr-5">
    <div class="info cursor-pointer">
        <div class="title font-bold text-xl">{{lab.name}}</div>
        <div class="place font-sans text-gray-500 ">{{lab.position}}</div>
        <div class="description h-12 text-ellipsis">
            <!-- <span class="font-semibold text-base">Description</span> -->
            <div class="text-sm">{{lab.description}}</div>

        </div>
        <div class="openhours flex flex-col text-sm">
            <span>Opens:</span>
            <div class="openHours flex flex-col">
                <ng-container *ngIf="lab.openHours && lab.openHours.length != 0">
                    <ng-container *ngFor="let hour of lab.openHours">
                        <div class="hour flex hover:underline" [ngClass]="hour.isToday? 'order-first':''">
                            <div class="w-2/5" [ngClass]="hour.isToday?'font-bold':''">{{hour.day}}</div>
                            <div class="open">{{hour.open}}</div>
                            <span>-</span>
                            <div class="close">{{hour.close}}</div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>


        </div>
        <div class="seats text-sm">Seats: {{lab.availableSeats + '/' + lab.totalSeats}}</div>
        <div class="computer_types text-sm flex">
            <span class="mr-2">Computer Types:</span>
            <div class="types text-white rounded-full py-0.5 px-2 text-xs mr-1" *ngFor="let item of lab.computerTypes"
                [ngClass]="item.id == 0? 'bg-orange-700':(item.id == 1?'bg-green-700':'bg-blue-700')">
                {{item.name}}
            </div>
        </div>
    </div>
</div>