<div class="container max-w-full flex flex-col flex-grow h-screen">
  <header class="w-full bg-blue-50 md:h-12 flex items-center px-5 py-3 antialiased font-semibold text-lg shadow-sm">
    <div class="left font-sans text-sky-800">Reservation system</div>
    <div class="other flex justify-evenly grow">
      <div
        class="search w-1/2 bg-white flex items-center border-b border-zinc-300 xl:w-5/12 2xl:w-1/3 hover:shadow active:shadow focus:shadow">
        <div class="icon w-7 h-7 p-1 mx-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5}
            stroke="currentColor">
            <path strokeLinecap="round" strokeLinejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
          </svg>
        </div>
        <input type="text" placeholder="Search" class="outline-0 text-base h-9 font-normal w-full ">
      </div>
    </div>
  </header>
  <div class="main flex h-full w-full flex-grow">
    <nav class="px-2 bg-blue-50 h-full hidden flex-col items-center gap-2 sm:flex">
      <div
        class="item bg-white w-12 h-12 flex items-center justify-center rounded-full shadow hover:shadow-md hover:cursor-pointer p-3 transition duration-75xs ease-in hover:bg-blue-100"
        data-mdb-ripple="true" data-mdb-ripple-color="white" [ngClass]="currentSelectIndex == 0 ? 'bg-blue-100': ''"
        (click)="switchPage(0)">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="grey"
          className="w-6 h-6">
          <path strokeLinecap="round" strokeLinejoin="round"
            d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
        </svg>


      </div>
      <div
        class="item bg-white select-none w-12 h-12 flex items-center justify-center rounded-full shadow hover:shadow-md hover:cursor-pointer p-3 transition duration-75xs ease-in hover:bg-blue-100"
        [ngClass]="currentSelectIndex == 1 ? 'bg-blue-100': ''" data-mdb-ripple="true" data-mdb-ripple-color="white"
        (click)="switchPage(1)">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="grey"
          className="w-6 h-6">
          <path strokeLinecap="round" strokeLinejoin="round"
            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" />
        </svg>
      </div>
      <div class="with_notify relative">
        <div
          class="absolute inline-block top-1 right-1 bottom-auto left-auto translate-x-2/4 -translate-y-1/2 rotate-0 skew-x-0 skew-y-0 scale-x-100 scale-y-100 py-0.5 px-2 text-xs leading-none text-center whitespace-nowrap align-baseline font-semibold bg-red-600 text-white rounded-full z-10">
          3</div>
        <div
          class="relative item bg-white select-none w-12 h-12 flex items-center justify-center rounded-full shadow hover:shadow-md hover:cursor-pointer p-3 transition duration-75xs ease-in hover:bg-blue-100"
          [ngClass]="currentSelectIndex == 2 ? 'bg-blue-100': ''" data-mdb-ripple="true" data-mdb-ripple-color="white"
          (click)="switchPage(2)">

          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="grey"
            className="w-6 h-6">
            <path strokeLinecap="round" strokeLinejoin="round"
              d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
          </svg>

        </div>
      </div>

    </nav>
    <div class="main-content w-screen">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>